

<!-- Modal -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">

        <form action="/create" method = "post">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" id="email" required>
          </div>
           <div class="form-group">
            <label for="user">Username:</label>
            <input type="text" class = "form-control" name="username" id="user" required>
          </div>
          <div class="form-group">
            <label for="pass">Password:</label>
            <input type="password" class = "form-control" name="password" id="pass" required>
          </div>
          <div class="form-group">
            <input type="submit" value="Sign Up" class ="btn btn-primary ">
          </div>
        </form>

      </div>
    </div>
  </div>
</div>