<% include ../partials/_header.ejs%>

<div class="row">
  <div class="col-sm-12 error">
    <div class="error-text">
      <h2 class="text-center">WHOA!!!!</h2>
      <p class="text-center">I can't find that page. <a href="/">Return home?</a></p>
    </div>
  </div>
</div>

<% include ../partials/_footer.ejs %>