<% include ../partials/_header.ejs%>

<div class="row">
  <div class="col-sm-5 col-sm-offset-1">
    <h2>About TV Party</h2>
    <p>TV Party is a project made by <a href="https://github.com/kahny">Connie Chang</a> and <a href="https://github.com/smonette">Steph Monette</a> in Fall 2014.</p>
    <p>Built on Node.js, this poject uses Socket.io, Passport, Twitter Oauth, and Hulu.</p>
  </div>
  <div class="col-sm-5">
  </div>
</div>

<% include ../partials/_footer.ejs %>