<% include ../partials/_header.ejs%>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>About TV Party</h2>
    <p><a href="https://github.com/kahny">Connie Chang</a> and <a href="https://github.com/smonette">Steph Monette.</a></p>
  </div>
</div>

<% include ../partials/_footer.ejs %>