<% include ../partials/_header.ejs%>
<!--  trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login">
  Login
</button>


<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signup">
  Signup
</button>


<% include ../partials/_signup.ejs %>

<% include ../partials/_login.ejs %>


<script type="text/javascript">
  $('#login').modal(options);
  $('#signup').modal(options);
</script>

<% include ../partials/_footer.ejs %>