/* General Styles */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: url('../images/grey_wash_wall.png') 0 0 repeat;
  font-family: 'Open Sans', sans-serif;
}
button:focus, a:focus {outline:0 !important;}
h2 {
  color: black;
}
/* Header */
header .btn-link {
  color: #fff !important;
  float: right;
  margin-top: 15px;
  font-size: 18px;
}
header .intro-bar {
  margin-top: 70px;
  background-color: rgba(140,175,197, 0.7);
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
}
header .intro-bar a {
  color: #fff;
  padding-left: 10px;
}
header h1 {
  height: 50px;
  margin-top: 10px;
  text-indent: -9999px;
  background: url('../images/logo.png') 0 0 no-repeat;
}

/* Homepage */
.my-slide {
 box-shadow: 2px 3px 10px rgba(0,0,0,0.7);
}
.tile {
  overflow: hidden;
  margin-top: 35px;
}
.tile img{
  box-shadow: 3px 5px 12px rgba(0,0,0,0.4);
  width: 100%;
}

/*Individual show pages*/
.large-tile{

}
.large-tile img{
  width: 100%;
  overflow:hidden;
}

/* Footer */
footer .footer-bar {
  margin-top: 30px;
  padding: 20px 0;
  background-color: rgba(140,175,197, 1);
  text-align: center;
}
footer .footer-bar a {
  color: #fff;
  padding: 0 5px;
}

/* Show page styles */
.show-box{
  border:7px solid #000000;
  background-color:white;
  box-shadow: 1px 5px 10px rgba(0,0,0,0.3);
}
.tweet-stream {
  margin: 0;
  padding: 5px 15px;
}
.tweet-stream li.tweet {
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  min-height: 70px;
}
.tweet-stream li.tweet img{
  float:left;
  margin: 0 20px 10px 0;
}

/*imdb photo*/
.url-photo{
  /*height: 5%;
  width: 5%;*/
}

.plot-actor-box{
  margin-top:30px;
  height:100px;
  overflow-y: scroll;
}
/*styling for socket-io chat box*/

.socket-chat {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.chat-input{
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}
.chat-box{
  background: #000; padding: 3px; width: 100%;
  margin-top: 5px;
  border:3px solid;
}
.chat-button{
  width: 9.3%;
  background: rgba(140,175,197, 1);
  background: black;
  border: none;
  color: white;
}
.chat-form{
  box-shadow: 1px 5px 10px rgba(0,0,0,0.3);
}
.chat-prompt {
  margin: 10px;
  text-align: center;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  min-height: 400px;
  max-height: 400px;
}
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }


.usernameColor{
  color:rgba(49,119,203, 1);
  font-weight: bold;
}

